body {
  -webkit-backface-visibility:hidden;
}
#footer{
  background-color: #f5f5f5;
  margin-top: 10px;
}
.row{
  margin: 0;
}
li {
  list-style: none;
}
.clearfix {
  float: none;
  clear: both;
}
a,
a:hover{
  color: #2e3984;
}
@media screen and (max-width: 991px){
  .pull-right{
    float: left!important;
  }
}
